@model ASP_Event_Project.Models.LoginModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row m-5">
    <div class="col-lg-12">
        <h2>Logowanie</h2>
        <form asp-controller="Account" asp-action="Login">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col col-lg-4">
                <label asp-for="Name">Login</label>
                <span asp-validation-for="Name" class="text-danger"></span>
                <input class="form-control" asp-for="Name" />
            </div>
            <div class="col col-lg-4">
                <label asp-for="Password">Hasło</label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input class="form-control" asp-for="Password" />
            </div>
            <div class="col col-lg-3 ">
                <a class="text-info" asp-controller="EventManagment" asp-action="Index">Nie masz konta? Chcesz tylko zobaczyć wydarzenia w okolicy?</a>
            </div>
            <div class="col col-lg-3">
                <button class="btn btn-primary" type="submit">Zaloguj się</button>
            </div>
        </form>
    </div>
</div>
