@model IEnumerable<EventModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h2>Wydarzenia</h2>
</div>

@{ 
    foreach (var events in Model)
            {
                <div>
                    <h4>Nazwa: @events.Name</h4>
                    <p>Cena: @events.Price.ToString("c")</p>
                </div>
            }
}